.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container {
  max-width: 800px;
  background-color: #6d6d6d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 40px;
  gap: 20px;
  border-radius: 20px;
}
.title {
  font-size: 4rem;
  width: 100%;
  text-align: center;
  margin: 0.5em;
}
